<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<category term="COMPLETEANARCHY" label="r/COMPLETEANARCHY"/>
<updated>2018-04-1:11:11+00:00</updated>
<icon> https://www.redditstatic.com/icon.png/</icon>
<id> /r/COMPLETEANARCHY/new.rss</id>
<link rel="self" href="https://www.reddit.com/r/COMPLETEANARCHY/new.rss" type="application/atom+xml" />
<link rel="alternate" href="https://www.reddit.com/r/COMPLETEANARCHY/new" type="text/html" />
<subtitle> Just... The most *Complete* Anarchy.</subtitle>
<title> newest submissions : COMPLETEANARCHY</title>

<entry>
  <author>
    <name>/u/user_new</name>
    <uri>uri_new</uri>
  </author>
  <content type="html">&amp;#32; submitted by &amp;#32; &lt;a href=&quot;https://www.reddit.com/user/user_new&quot;&gt; /u/user_new &lt;/a&gt; &lt;br/&gt; &lt;span&gt;&lt;a href=&quot;https://i.redd.it/the_link_new.jpg&quot;&gt;[link]&lt;/a&gt;&lt;/span&gt; &amp;#32; &lt;span&gt;&lt;a href=&quot;https://www.reddit.com/r/COMPLETEANARCHY/comments/9c4vnx/ill_be_saving_all_those_attack_on_titan_and/&quot;&gt;[comments]&lt;/a&gt;&lt;/span&gt;</content> <category term="COMPLETEANARCHY" label="r/COMPLETEANARCHY"/>
  <id>id0</id>
  <link href="url_new"/>
  <updated>2018-04-01T11:11+00:00</updated>
  <title>title_new</title>
</entry>


<entry>
  <author>
    <name>/u/user0</name>
    <uri>uri0</uri>
  </author>
  <content type="html">&amp;#32; submitted by &amp;#32; &lt;a href=&quot;https://www.reddit.com/user/user0&quot;&gt; /u/user0 &lt;/a&gt; &lt;br/&gt; &lt;span&gt;&lt;a href=&quot;https://i.redd.it/the_link0.jpg&quot;&gt;[link]&lt;/a&gt;&lt;/span&gt; &amp;#32; &lt;span&gt;&lt;a href=&quot;https://www.reddit.com/r/COMPLETEANARCHY/comments/9c4vnx/ill_be_saving_all_those_attack_on_titan_and/&quot;&gt;[comments]&lt;/a&gt;&lt;/span&gt;</content> <category term="COMPLETEANARCHY" label="r/COMPLETEANARCHY"/>
  <category term="COMPLETEANARCHY" label="r/COMPLETEANARCHY"/>
  <id>id0</id>
  <link href="url0"/>
  <updated>2018-03-01T13:13+00:00</updated>
  <title>title0</title>
</entry>


<entry>
  <author>
    <name>/u/user1</name>
    <uri>uri1</uri>
  </author>
  <content type="html">&amp;#32; submitted by &amp;#32; &lt;a href=&quot;https://www.reddit.com/user/user1&quot;&gt; /u/user1 &lt;/a&gt; &lt;br/&gt; &lt;span&gt;&lt;a href=&quot;https://i.redd.it/the_link1.jpg&quot;&gt;[link]&lt;/a&gt;&lt;/span&gt; &amp;#32; &lt;span&gt;&lt;a href=&quot;https://www.reddit.com/r/COMPLETEANARCHY/comments/9c4vnx/ill_be_saving_all_those_attack_on_titan_and/&quot;&gt;[comments]&lt;/a&gt;&lt;/span&gt;</content> <category term="COMPLETEANARCHY" label="r/COMPLETEANARCHY"/>
  <category term="COMPLETEANARCHY" label="r/COMPLETEANARCHY"/>
  <id>id1</id>
  <link href="url1"/>
  <updated>2018-01-01T22:22+00:00</updated>
  <title>title1</title>
</entry>
